// Compass setup
@import "compass/utilities";
@import "compass/css3";


// Variables


/***************************************/
/***************************************/
/************* NORMALIZE ***************/
/***************************************/
/***************************************/
@import ".includes/normalize.scss";

/***************************************/
/***************************************/
/**************** FONTS ****************/
/***************************************/
/***************************************/
@import "fonts.scss";

/***************************************/
/***************************************/
/**************** BASIS ****************/
/***************************************/
/***************************************/
body {
	width: 990px;
	margin: 0 auto;
}


.face-canvas {
	margin: 0 auto;
	text-align: center;
}

.face-canvas, .face-canvas svg {
    width: 198px
}
.face-canvas svg {
    height: 322px;
}



/***************************************/
/***************************************/
/**************** FACE *****************/
/***************************************/
/***************************************/
@import "face.scss";


