
$face-base-color: rgb(213, 190, 145); // rgb(145, 205, 213); //rgb(213, 190, 145); //#555;


#face-base {
	fill: $face-base-color;
}



header.has-face {
	text-align: center;
	position: relative;
/* 	display: block; */
}

.face-canvas {
	/* width: 400px; */  /* 198px; */
	/* height: 650px; */ /* 322px; */
}

.face-canvas > .face-elements {
	position: absolute;
	display: block;
/* 	min-width:10px;
	height: 100%; */
}

.face-canvas > .face-img {
	/* width: 100%; */
	height: 40%;
	position: relative;
	display: block;
}

/* rotatable */
.face-canvas > .face-elements, .face-canvas > .face-img {
	text-indent: 0px;
}

.face-canvas {

	opacity:1;
	//@include transition()

	position: relative;
/* 	margin: 0 auto;
	text-align: center; */
    display: inline-block;

	@include transform-style(preserve-3d);
	//@include perspective(230px);
	//@include perspective(512px);
	//@include perspective(230px);
	@include perspective($face-perspective);
}

.face-canvas, .face-canvas > * {
	//@include transition(all 0.01s linear);

	/* Unfortunately these don't seem to help with the jagged edges on firefox */
	@include backface-visibility(hidden);
	outline: 1px solid transparent;
}

.face-canvas img, .face-canvas svg {
	@include transform-style(preserve-3d);
	position: relative;
	margin: 0 auto;
}

/* .face-canvas .face-img-tag {
	width: auto;
} */



/* NOSE */
.face-nose {

}

.face-nose-side {
	position: absolute;
	width: 3%;
	height: 10%;
	/* margin-top: 94%; */ /* 108%; */
	top: 65%; /* changed from margin-top 94 to top 64 */

	@include transform-origin(50%, 0, 0, true);
	/*box-shadow: inset 0px 0px 12px 5px #fff;*/ /* TEST */
}

.face-nose-left-outer, .face-nose-right-outer {
	@include background(linear-gradient(top, #ffffff 0%,#eeeae0 100%));
	opacity: 0.2;
}

/* RIGHT side of NOSE */
.face-nose-right {
	@include transform(rotateZ(-6deg) rotateY(45deg) translateX(-50%));
	@include border-radius(50%);
	left: 53.4%;
}
.face-nose-right-outer {
	//@include background(linear-gradient(top, #ffffff 0%,#eeeae0 100%));
	/* max rotation 45-47 deg with the gradient on nose sides */
	/* old prolly: max rotation 25 deg with this shape of nose and color #eeeae0 */

	/* margin-left: 54.5%; */
	margin-left: 0.5%;
}
.face-nose-right-inner {
	background-color: #fff;
	/* margin-left: 54%; */

	/* TEST 2 */
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6304c9), color-stop(100%,#00effc));*/
}
/* LEFT side of NOSE */
.face-nose-left {
	@include transform(rotateZ(6deg) rotateY(135deg) translateX(-50%));
	@include border-radius(50%);
	left: 43.5%;
}
.face-nose-left-outer {
	//@include background(linear-gradient(top, #ffffff 0%,#eeeae0 100%));
	/* max rotation 25 deg with this shape of nose and color */
	/* margin-left: 43.5%; */ /*82px;*/

	/* TEST */
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#a90329), color-stop(100%,#37ff00));*/
}
.face-nose-left-inner {
	background-color: #fff;
	/* margin-left: 44%; */ /*83px;*/
	margin-left: 0.5%;
	/*padding-right: 5px;*/
	/*padding-bottom: 0px;*/

	/* TEST 2 */
	/*background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#6304c9), color-stop(100%,#00effc));*/
}
/* END NOSE */

/* START CHEEKS */
.face-cheek {
	display: block;
	position: absolute;
	width: 7%;
	height: 15%;
	top: 66%;
	/* opacity: 0.4; */
	@include transform-origin(50%, 0, 0, true);
	/* Compass bug with warnings and docpad's lack of compass config options forced to convert from 100% to 10 on the last color stop in order for CSS file to be valid */
	@include background(
		radial-gradient(
			center,
			ellipse cover,
			rgba(lighten($face-base-color,  95%),1) 0,
			rgba(lighten($face-base-color, 100%),0) 80%,
			rgba(lighten($face-base-color, 100%),0) 99.9% // 100%
		)
	);
}
.face-cheek-left {
	left: 13%;
	@include transform(rotateZ(-15deg) rotateY(-29deg) translateX(50%));
}
.face-cheek-right {
	left: 80%;
	@include transform(rotateZ(15deg) rotateY(-151deg) translateX(50%));
}
/* END CHEEKS */

/* TODO EYES ? */

/* HEAD BACK */
.face-back {
	position: absolute;

	width:28%;
	height: 87%;
	margin-left: 4%;
	left: 0;
	top: 0;
	z-index: -1;

	@include transform-origin(50%, 0, 0, true);
	@include transform(rotateY(125deg) translateX(51%) translateY(16%));

	@include background(linear-gradient(-43deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 63%,rgba(255,255,255,0) 63%));
	/* diagonal gradient that make up the hair */
	@include border-radius(0 80% 93% 0 / 0 25% 72% 0); /* hair */
}


/* FACE SIDES */
.face-side {
	position: absolute;
	left: 0;
	top: 0;
	/*background: -webkit-linear-gradient(-43deg, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 63%,rgba(255,255,255,0) 63%);*/ /* diagonal gradient that make up the hair */
	background: lighten($face-base-color, 5%);
	width: 50%;
	height: 84%;
	z-index: -1; /* CHECK IF CAN REMOVE */
	@include transform-origin(50%, 0, 0, true);
	/*-webkit-transform: rotateY(125deg) translateX(51%) translateY(16%);*/

	@include border-radius(0 91% 93% 0 / 0 33% 72% 0); /* hair */
}

.face-side-left {
	//@include transform(rotateY(140deg) translateX(53%) translateY(11%));
	@include transform(rotateY(151deg) translateX(53%) translateY(11%));
	margin-left: 17%;
}
.face-side-right {
	//@include transform(rotateY(40deg) translateX(53%) translateY(11%));
	@include transform(rotateY(29deg) translateX(53%) translateY(11%));
	margin-left: 35%;
}
/* EARS */
.face-side:before{
	$face-side-before-color: lighten($face-base-color, 10%);
	/* TEMP/TODO: Compass bug with warnings and docpad's lack of compass config options forced to convert from 100% to 10 on the last color stop in order for CSS file to be valid */
	@include background(
		radial-gradient(
			center,
			ellipse cover,
			rgba($face-side-before-color, 0) 0,
			rgba($face-side-before-color, 0) 20%,
			$face-side-before-color 50%,
			rgba($face-side-before-color, 0) 90%,
			rgba($face-side-before-color, 0) 99.9%
		)
	);

	display: block;
	content: ' ';
	width: 234%;
	height: 61%;
	/* margin-top: 32%; */
	margin-top: 35%;
	@include border-radius(50% 50% 50% 50% / 50% 50% 50% 50%);
	margin-left: -40%;
	@include transform(rotateY(-82deg));
	@include transform-style(preserve-3d);
	@include background-size(180% 121%);
	background-position: 100% 0%;
	//@include box-shadow(#222, 0, 0, 58px, 34px, true);
	@include box-shadow(lighten($face-base-color, 13.5%) 0 0 87px -76px inset);
}


/* FACE ELEMENTS */
.face-elements {
	@include transform-style(preserve-3d);
	position: absolute;
	display: block;
	@include transform-origin(50%, 0, 0, true);
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}



/* SHADOW */
.face-shadow {
	position: absolute;
	height: 330px;
	width: 330px;
	$color: 200;
	$color2: 255;
	@include background(
		radial-gradient(
			ellipse at center,
			rgba($color,$color,$color,1) 0%,
			rgba($color,$color,$color,1) 32.5%,
			rgba($color,$color,$color,0) 75%,
			rgba($color2,$color2,$color2,0) 99.9%
		)
	);
	/*background-color:#DADADA;
	$box-shadow-radius: 10px;
	$box-shadow-range: 10px;
	@include box-shadow(
		#fff -3px -3px $box-shadow-radius $box-shadow-range inset,
		#fff  3px  3px $box-shadow-radius $box-shadow-range inset
	);
	@include border-radius(140px);*/
	@include transform-origin(50% 50% -110px);
	@include transform(rotateX(102deg));
}


/* TESTS */
///////////

/* VERSION 1 */
.face-side {
	width: 50%;
	height: 96.5%;
}

.face-side-left {
	//@include transform(rotateY(151deg) translateX(53%) translateY(2%));
	@include transform(rotateY(159deg) translateX(53%) translateY(2%));
}
.face-side-right {
	//@include transform(rotateY(29deg) translateX(53%) translateY(2%));
	@include transform(rotateY(24deg) translateX(53%) translateY(2%));
}

/* anim */
@include keyframes(fadeInUp) {
	0% {
		opacity: 0;
		@include transform(translateY(20px));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
}
@include keyframes(bounceIn) {
	0% {
		opacity: 0;
		@include transform(scale(.3));
	}
	50% {
		opacity: 1;
		@include transform(scale(1.05));
	}
	70% {
		@include transform(scale(.9));
	}
	100% {
		@include transform(scale(1));
	}
}

/*TEST*/
.face-canvas {
	width: 100%;
	height: 100%;
	display: block;
}
header.has-face {
	width: 330px;
	height: 537px;
	margin: 0 auto;
	padding-top:50px;
}

.face-canvas > .face-img {
	height: 100%;
}



/*			RADIAL GRADIENT
.face-side {
	position: absolute;
	left: 0;
	top: 0;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 54%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
	width: 65%;
	background-size: 200% 112%;
	background-position: top right;
	height: 64%;
	z-index: -1;
	-webkit-transform-origin: 50% 0 0;
	-webkit-transform: rotateY(125deg) translateX(51%) translateY(16%);
	border-radius: 0 80% 93% 0 / 0 25% 72% 0;
}
.face-side-right {
	-webkit-transform: rotateY(71deg) translateX(51%) translateY(7%) rotateX(1deg);
	margin-left: 47%;
}
*/
